html,
body {
  margin: 0;
  padding: 0;
}

/* Espaço para não cobrir conteúdo ao usar navbar fixa */
body {
  padding-top: 70px;
}

nav.navbar {
  background-color: #fc8585 !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-nav .nav-link {
  text-transform: uppercase;
  font-weight: bold;
  color: #f6eadb;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ffc86d;
}

/* < ------------- Estilos de texto--------------- > */

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
  }
  
  .section-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  h3{
    font-size: 80px;
    color: #fc8585;
  }
  
  p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
  }
  
  #tecnologias img {
    display: block;
    margin: 0 auto 10px auto;
  }
  


/* <------------------ Sobre ---------------------> */

.text-justify {
  text-align: justify;
}

.total{
    min-height: 100vh;
    align-content: center;
}

/* <------------------- Tecnologias ------------------> */
.tech-icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
  }
  
  .tech-icon img {
    width: 90%;
    height: auto;
  }
  
  .tech-icon:hover {
    transform: scale(1.1);
  }

  #tecnologias{
    min-height: 100vh;
  }
  

/* <------------------ Projetos ------------------> */

.btn-primary {
  background-color: #fc8585; 
  border-color: #fc8585; 
  color: #f6eadb; 
}

.btn-primary:hover {
  background-color: #ffc86d; 
  border-color: #ffc86d; 
}

main {
  background-color: #85cbd9;
  width: 100%;
  min-height: 100vh;
}

.card-custom {
  max-width: 400px;
  width: 100%;
}


/* <--------------------- Footer ----------------------> */

#link1:hover{
 color: #fc8585;
 transition: color 0.3s ease;  
}

#link2:hover{
  color: #fc8585;
  transition: color 0.3s ease;  
 }

 #link3:hover{
  color: #fc8585;
  transition: color 0.3s ease;  
 }



